<form class="ui inverted segment form" action="/station/{{station.id}}/addreport" method="POST">
  <button class="ui red submit button"><i class=" large yellow pencil alternate icon"></i>Auto Generate Reading</button>
</form>