{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <div class="ui center aligned middle aligned inverted segment">
    <br>
    <h1 class="ui blue header">
      About The WeatherTop App
    </h1>
    <br>
    <div class="ui main text container">
      <div class="ui two column centered grid">
        <div class="four column centered row">
          <p class="ui yellow header">This App updates you on the latest weather and there measurements</p>
        </div>
        <div>
          <br>
          <img class="ui huge circular image"
               src=" https://i.pinimg.com/originals/d7/ce/0e/d7ce0e5b845337c17eb32d373cf290bb.gif" alt=""></div>
        <br>
        <br>
        <p>This is an new App developed to show you tables of Weather stats to help you plan your
          getaways. The WeatherTop App, is one of the best weather applications online, the best choice for you.
          WeatherTop app, has accurate weather information for anytime and everywhere and with your help can inform
          others of your current weather conditions.</p>
        <br>
        <br>
        <img class="ui huge circular image"
             src="https://www.icegif.com/wp-content/uploads/summer-icegif-16.gif" alt=""></div>
      <br>
      <br>
    </div>
    <p>Now that you have signed up go to our Dashboard and create your very own station and readings for your
      stations</p>
    <br>
    <br>
    <div class="ui inverted yellow vertical footer segment">
      <div class="ui container">
        <i class="right floated wind big blue icon"></i> Weathertop Stations 2021. All Rights Reserved Sophia McGee
      </div>
    </div>
  </div>
</section>