{{> menu id ="dashboard"}}
<section class="ui inverted segment">
  <header>Pin Point Your WeatherTop Station</header>
  <br>
  <div id="mapid"></div>
  {{>liststations}}
  {{> addstation}}
</section>
