{{> menu id = "editUser"}}
<div class="ui two column grid basic middle aligned segment">
  <div class="column">
    <img class="ui image"
         src="https://images-na.ssl-images-amazon.com/images/I/61JVy%2BSjxrL.png">
  </div>
  <div class="column">
    <form class="ui stacked inverted segment form" action="/updateuser" method="POST">
       <h3> Edit Details</h2></h3>
      <div class="two fields">
        <div class="field">
          <label>First Name</label>
          <input placeholder="First Name" type="text" name="firstName" />
        </div>
        <div class="field">
          <label>Last Name</label>
          <input placeholder="Last Name" type="text" name="lastName" />
        </div>
      </div>
      <div class="field">
        <label>Email</label>
        <input placeholder="Name@email.com" type="text" name="email" />
      </div>
      <div class="field">
        <label>New Password</label>
        <input placeholder="New Password" type="password" name="password" />
      </div>
      <button class="ui blue submit button">Update Info</button>
    </form>
  </div>
</div>