{{> welcomemenu }}

<section class="ui center aligned middle aligned inverted segment">
  <br>
  <h1 class="ui inverted yellow header">
    Welcome to The WeatherTop App
  </h1>
  <h2 class="ui inverted yellow header">______________ Sign up above in the right hand corner and then Login to use our
    app __________<i class=" hand point up outline icon"></i></h2>
  <p class="ui blue header">This App updates you on the latest weather and Measuring techniques</p>
  <br>
  <img class="ui fluid image"
       src="https://media.newyorker.com/photos/5d0aa326e140834842c67f62/2:1/w_2559,h_1279,c_limit/190701_r34545.jpg">
  <p></p>
  <h3> We will let you know when you need your jacket </h3>
  <br>
  <img class="ui fluid image" src="https://i0.wp.com/media2.giphy.com/media/26u6dryuZH98z5KuY/giphy.gif">
  <h4>Just in case there might be some rain</h4>
  <h4>
    This is an new App that has been developed to show you tables of Weather stats to help you plan your
    getaways.
  </h4>
  </div>
  <br>
  <div class="ui inverted yellow vertical footer segment">
    <div class="ui container">
      Weathertop Stations 2021. All Rights Reserved Sophia McGee
    </div>
  </div>
</section>
