{{> welcomemenu id='login' }}

<div class="ui two column middle aligned grid basic segment">
  <div class="column">
    <h3> If you are not yet a member please <u>Sign up first!</u></h3>
    <form class="ui stacked segment form" action="/authenticate" method="POST">
      <h3 class="ui header">Log-in</h3>
      <div class="field">
        <label>Email</label> <input placeholder="Email" name="email">
      </div>
      <div class="field">
        <label>Password</label> <input placeholder="Password" type="password" name="password">
      </div>
      <button class="ui blue submit button">Login</button>
    </form>
  </div>
  <div class="column">
    <img class="ui large image"
         src="https://media.istockphoto.com/vectors/avatars-characters-vector-id521247381?k=6&m=521247381&s=612x612&w=0&h=xnXbUIGYEtpGW9cSkcb74h6ccJ52rs7T6HWW4Pkhdhg=">
  </div>
  <br>
  <div class="ui inverted yellow vertical footer segment">
    <div class="ui container">
      <i class="right floated wind big blue icon"></i> Weathertop Stations 2021. All Rights Reserved Sophia McGee
    </div>
  </div>
</div>
</div>