{{> menu id="start"}}

<section class="ui center aligned middle aligned inverted segment">
  <h1 class="ui blue header">
    Welcome to The WeatherTop App
  </h1>

  <p class="ui blue header">This App updates you on the latest weather and there measurements</p>
  <p></p>
  <img class="ui fluid image"
       src="https://media.newyorker.com/photos/5d0aa326e140834842c67f62/2:1/w_2559,h_1279,c_limit/190701_r34545.jpg">
  <p></p>
  <h3> We will let you know when you need your jacket </h3>
  <img class="ui fluid image" src="https://i0.wp.com/media2.giphy.com/media/26u6dryuZH98z5KuY/giphy.gif">
  <h4>Just in case there might be some rain</h4>

  <p>
    This is an new App that has been developed to show you tables of Weather stats to help you plan your
    getaways.
  </p>
  </div>
  <br>
  <div class="ui inverted yellow vertical footer segment">
    <div class="ui container">
      Weathertop Stations 2021.All Rights Reserved
    </div>
  </div>
</section>